version: '3.8'

services:
  api:
    build:
      context: ../..
      dockerfile: mlops/docker/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - MODEL_PATH=/app/models/svm_model.pkl
      - LOG_LEVEL=INFO
      - SECRET_KEY=your_secret_key_change_in_production
    volumes:
      - ../models:/app/models
    restart: unless-stopped
    depends_on:
      - prometheus
    networks:
      - mlops-network

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../../models:/app/models
      - ../monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped
    networks:
      - mlops-network

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - ../monitoring/grafana/provisioning:/etc/grafana/provisioning
      - grafana-data:/var/lib/grafana
    restart: unless-stopped
    depends_on:
      - prometheus
    networks:
      - mlops-network

networks:
  mlops-network:
    driver: bridge

volumes:
  grafana-data:
